<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
          integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
          crossorigin="anonymous"></script>
</head>

<body>
  <header class="container">
    <nav class="display-flex">
      <a href="~/" class="font-Roboto">@ToDo.ConfigurationSingleton.Instance.ApplicationName</a>
      <div class="flex-1"></div>
      <div class="display-flex">
        @if (User.Identity.IsAuthenticated)
        { 
          <form id="logoutForm" asp-action="Logout" asp-controller="Account" method="post">
            <a href="javascript:void(0);" onclick="document.getElementById('logoutForm').submit();" class="font-Roboto background-color-white font-size-16px">
              Logout
            </a>
          </form>
        }
        else
        {
          <a asp-action="Login" asp-controller="Account" class="font-Roboto">Log In</a>
        }
      </div>
    </nav>
  </header>

  <div class="container">
    @RenderBody()
  </div>

  <footer class="width-100 text-align-center">
    footer
  </footer>
</body>
</html>